@charset "utf-8";
/* 以下实际使用若已初始化可删除 .nav height父级需逐级设置为100%*/
*{
    box-sizing: border-box;
}
body,html,#app{height: 100%;}
body,ul{margin:0;padding:0}
body{font-family:"微软雅黑","宋体","Arial Narrow",HELVETICA;-webkit-text-size-adjust:100%;}
li{list-style:none}
a{text-decoration:none;}
.callout{
    width: 100%;
    padding: 15px;
    border: 1px solid #F5F5F5;
    border-left: 5px solid #0097ee;
    font-size: 16px;
    border-radius: 3px;
    background-color: #FAFAFA;
    margin: 0 0 15px;
}
h1.callout{
    font-size: 19px;
    font-weight: 500;
    padding: 8px 15px;
}
.wzc-btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.wzc-table{
    width: 100%;
    border: 1px solid #dee2e6;
    border-collapse:collapse;
}

.wzc-table td,.wzc-table th{
    padding: .75rem;
    vertical-align: middle;
    border: 1px solid #dee2e6;
}
.wzc-table th {
    font-weight: 600;
    text-align: left;
}

input,textarea{
    display: block;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input{
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
}
textarea {
    width: 100%;
    overflow: auto;
    resize: vertical;
}